@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

#background-mask {
  background-image: url("/fondo.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  mask-image: url("/lock.svg");
  mask-position: center 50%;
  mask-repeat: no-repeat;
  mask-size: 50px;

  &.unlocked {
    animation: lock-reveal 2.5s forwards ease-in-out;
  }
}

@keyframes lock-reveal {
  0% {
    mask-size: 50px;
  }
  100% {
    mask-size: 1000vh;
  }
}

@font-face {
  font-family: "Century";
  src: url("/fonts/century.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Century";
  src: url("/fonts/century-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Heavy";
  src: url("/fonts/heavy.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-brand: #f8b134;
}

h1,
h2 {
  font-family: "Heavy", sans-serif;
}

h3,
h4,
h5,
h6 {
  font-family: "Century", sans-serif;
}
